#if(${moduleName} != "")
package com.world.model.entity.${moduleName};
#else
package com.world.model.entity.${className};
#end

import com.world.data.mysql.Bean;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}Entity extends Bean {

#foreach ($column in $columns)
    /**
     * ${column.comments}
     */
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)

	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
