<%@ page  session="false" language="java" import="java.util.*" pageEncoding="utf-8"%>
<%@ page isELIgnored="false"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="cn" lang="cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>${comments}管理</title>
<jsp:include page="/admins/top.jsp" />
</head>
<body >
<div class="mains">
	<div class="col-main">
		<div class="form-search">
			<form autocomplete="off" name="searchForm" id="searchContaint">
				<div id="formSearchContainer">

					<p>
						<a class="search-submit" id="idSearch" href="javascript:zb.list.search();">查找</a>
						<a id="idReset" class="search-submit" href="javascript:zb.list.resetForm();">重置</a>
						<a class="search-submit"  href="javascript:zb.list.aoru({id:0, width: 500, height: 600});">添加</a>
					</p>
				</div>
		
			</form>
		</div>
		<div class="tab_head" id="userTab">
		</div>
		<div class="tab-body" id="shopslist">
			<jsp:include page="ajax.jsp" />
		</div>
	</div>
</div>	

<script type="text/javascript">
$(function(){ 
 	zb.list.ui();
	zb.list.funcName = "${comments}管理";
	zb.list.basePath = "/admin/${moduleName}/${classname}/";
});

function reload2(){
	Close();
	zb.list.reload();
}


function reload(){
    Close();
    location.reload(true);
}

#if(${hasStatus})
function updateStatus(id){
    var url = "/admin//${moduleName}/${classname}/updateStatus?id=" + id;
    Iframe({
        Url : url,
        Width : 580,
        Height : 500,
        scrolling : 'yes',
        Title:"更新状态"
    });
}
#end
</script>

</body>
</html>
